.btn-group.animation-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  justify-self: flex-end;
  max-width: var(--coord-input-width);
  padding-top: 1em;
}

.btn-menu {
  padding: 1em 2em;
  width: 100%;
  margin: 0 0 0.5em 0;
  flex-grow: 0;
  background: var(--color-dark);
  border: 2px solid var(--color-coordinates);
  border-radius: var(--border-radius-input);
  color: var(--color-text-light-shower);
  font-weight: 500;
}

.btn-menu:hover,
.btn-menu:focus {
  border-color: var(--color-coordinates-hover);
  color: var(--color-text-light);
}

@media (min-width: 768px) {
  .btn-group.animation-menu {
    flex-direction: column;
    justify-content: flex-start;
    grid-column-start: 1;
    grid-row-end: 2;
    padding: 0 0 0.5em;
    width: 100%;
  }
  .btn-menu {
    margin: 0 0 1em 0;
  }
}

@media (min-aspect-ratio: 1/1) and (max-width: 767px) {
  .btn-group.animation-menu {
    flex-direction: column;
    justify-content: flex-start;
    padding: 1em 0 0.5em;
  }

  .btn-menu {
    margin: 0 0 1em 0;
  }
}

.btn-menu {
  &:first-of-type {
    margin-top: 0;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}
