.btn-group.animation-menu {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  grid-column-start: 3;
  grid-row-end: 3;
  grid-row-start: 1;
  justify-self: stretch;
  max-width: var(--coord-input-width);
}

.btn-menu {
  background: var(--color-dark);
  border: 2px solid var(--color-coordinates);
  border-radius: var(--border-radius-input);
  color: var(--color-text-light-shower);
  flex-grow: 0;
  font-weight: 500;
  margin: 0 0 0.5em;
  padding: 1em 2em;
  width: 100%;
}

.btn-menu:hover,
.btn-menu:focus {
  border-color: var(--color-coordinates-hover);
  color: var(--color-text-light);
}

@media (min-width: 768px) and (min-aspect-ratio: 3/5) {
  .btn-group.animation-menu {
    flex-direction: column;
    grid-column-start: 1;
    grid-row-end: 2;
    justify-content: flex-start;
    padding: 0 0 0.5em;
    width: 100%;
  }

  .btn-menu {
    margin: 0 0 1em;
  }
}

// @media (min-aspect-ratio: 16/9) {
//   .btn-group.animation-menu {
//     flex-direction: column;
//     grid-row-end: 2;
//     justify-content: flex-start;
//     padding: 1em 0 0.5em;
//   }

//   .btn-menu {
//     margin: 0 0 1em 0;
//   }
// }

// .btn-menu {
//   &:first-of-type {
//     margin-top: 0;
//   }
//   &:last-of-type {
//     margin-bottom: 0;
//   }
// }
