.btn-group {
  display: flex;
  grid-column-end: 3;
  grid-column-start: 1;
  grid-row-start: 3;
  height: 100%;
  justify-content: space-between;
  justify-self: center;
  max-width: 24em;
  width: 100%;
}

.btn-jumbo {
  border: unset;
  scale: 0.95;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn-jumbo::before {
  font-size: 6em;
  height: 100%;
  line-height: 1;
  width: 100%;
}

.btn-jumbo:hover,
.btn-jumbo:focus {
  outline: none;
  scale: 1;
}

@media (min-width: 768px) {
  .btn-group {
    grid-column-start: 2;
    grid-row-start: 2;
    justify-content: space-evenly;
  }

  .btn-jumbo {
    height: auto;
    width: 100%;
  }
}

@media (min-aspect-ratio: 1/1) and (max-width: 767px) {
  .btn-group {
    grid-column-start: 2;
    grid-row-start: 2;
    justify-content: space-evenly;
  }

  .btn-jumbo {
    height: auto;
    width: 100%;
  }
}

// Play button
.fire-starter {
  background: radial-gradient(var(--color-firestarter-06) 20%, transparent 60%);
  border-radius: 50%;
}

.fire-starter::before {
  content: '\1F47E';
}

.fire-starter:hover,
.fire-starter:focus {
  background: radial-gradient(var(--color-firestarter-08) 20%, transparent 60%);
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="50" height="60" style="font-size: 40px;"><text y="40">%E2%9A%A1</text></svg>'),
    auto;
}

.fire-starter.error {
  background: radial-gradient(rgba(238, 9, 123, 0.8) 20%, transparent 60%);
}

.fire-starter.error:hover,
.fire-starter.error:focus {
  background: radial-gradient(rgba(238, 9, 123, 1) 20%, transparent 60%);
}

.fire-starter.active {
  background: radial-gradient(var(--color-sponge-08) 20%, transparent 60%);
}

.fire-starter.active:hover,
.fire-starter.active:focus {
  background: radial-gradient(var(--color-sponge) 20%, transparent 60%);
}

// Refresh button
.shower {
  background: radial-gradient(rgba(34, 229, 227, 0.4) 20%, transparent 60%);
  border-radius: 50%;
}

.shower::before {
  content: '\1F6BF';
}

.shower:hover,
.shower:focus {
  background: radial-gradient(rgba(34, 229, 227, 0.5) 20%, transparent 60%);
}

// Clear emojis animation button
.sponge {
  background: radial-gradient(var(--color-sponge-08) 20%, transparent 60%);
  border-radius: 50%;
}

.sponge::before {
  content: '🧽';
  font-size: 4.95em;
}

.sponge:hover,
.sponge:focus {
  background: radial-gradient(var(--color-sponge) 20%, transparent 60%);
}
