.coordinates {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-row-start: 1;
  height: auto;
  justify-content: space-around;
  width: calc(100% - 1em);
  padding: 1em 0 0.5em;
}

.coordinates label {
  align-items: flex-start;
  background: linear-gradient(var(--color-dark) 5%, var(--color-coordinates));
  border-radius: var(--border-radius-input);
  color: var(--color-text-light-shower);
  display: flex;
  justify-content: space-between;
  width: auto;
  max-width: var(--coord-input-width);
  padding: 0.7em 1em;
  margin-right: 0.5em;
}

.coordinates label:hover {
  background: linear-gradient(
    var(--color-dark) 10%,
    var(--color-coordinates-hover)
  );
  color: var(--color-text-light);
}

.coordinates input {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  width: calc(100% - 1em);
}

@media (min-width: 600px) {
  .coordinates {
    justify-content: center;
  }
  .coordinates label {
    align-items: center;
    flex-direction: row;
    max-width: calc(100% - 2em);
    width: var(--coord-input-width);
  }
  .coordinates input {
    width: calc(100% - 6em);
  }
}

@media (min-width: 768px) {
  .coordinates {
    grid-row-start: 2;
    border-radius: 5px;
  }

  .coordinates label {
    align-items: center;
    flex-direction: row;
    margin: 0.5em 0 0;
    max-width: calc(100% - 1em);
    padding: 0.7em 1em;
    width: 100%;
  }

  .coordinates label:first-child {
    margin-top: 0;
  }

  .coordinates input {
    width: calc(100% - 6em);
  }
}

@media (min-aspect-ratio: 1/1) and (max-width: 767px) {
  .coordinates {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-x: scroll;
  }

  .coordinates label {
    align-items: center;
    flex-direction: row;
    margin: 0.5em 0 0;
    max-width: calc(100% - 2em);
    padding: 0.7em 1em;
    width: var(--coord-input-width);
  }

  .coordinates label:first-child {
    margin-top: 0;
  }

  .coordinates input {
    width: calc(100% - 6em);
  }
}
