.feedback {
  display: none;
}

.feedback.error {
  display: inline-flex;
  justify-content: stretch;
  height: 100%;
  padding: 2rem;
  background: rgba(120, 94, 226, 0.3);
  background: linear-gradient(var(--color-danger-08), transparent);
  background: linear-gradient(var(--color-dark), transparent);
  border: 2px solid var(--color-danger-08);
  border-radius: 10px;
  overflow: auto;
}

.stacktrace {
  color: var(--color-text-light-danger);
  font-size: 1rem;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
}
