@import 'variables.scss';

html {
  background-color: var(--color-dark);
  overflow: hidden;
  font-family: sans-serif;
}
body {
  border: 0;
  margin: 0;
  position: relative;
  background: none;
  width: 100vw;
  height: 100vh;
  color: white;
}
canvas {
  display: none;
}
.success canvas {
  display: block;
  width: 100%;
  height: 100%;
}
.app {
  width: 100%;
  height: 100%;
}
main {
  width: 100%;
  height: calc(
    100% - 3em + 2px
  ); // 100% - nav height = 1em font size + 2em padding + 2px border bottom (::after)
}
.grid {
  display: grid;
  grid-template-columns: 65% 10% 20% 5%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}
.display {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 6;
  display: flex;
  width: 100%;
  height: 100%;
}
.btn-group {
  grid-column-start: 3;
  grid-row-start: 2;
  display: flex;
  flex-direction: column;
  width: 12em;
  height: 100%;
}
.btn-jumbo {
  border: none;
  scale: 0.95;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.btn-jumbo::before {
  font-size: 10em;
  width: 100%;
  height: 100%;
  line-height: 1.5;
}
.btn-jumbo:hover,
.btn-jumbo:focus {
  outline: none;
  scale: 1;
}
.feedback {
  display: none;
}
.error .feedback {
  display: flow-root;
  padding: 2rem 4rem;
  overflow-y: auto;
  width: 100%;
  height: auto;
}
.stacktrace {
  color: var(--color-text-light);
  font-size: 1rem;
  padding: 2rem;
  margin: 0;
  background: rgba(120, 94, 226, 0.3);
  background: linear-gradient(var(--color-danger-08), transparent);
  background: linear-gradient(var(--color-dark), transparent);
  border: 2px solid var(--color-danger-08);
  border-radius: 10px;
  cursor: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  min-height: 80%;
}
.coordinates {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  height: auto;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  padding: 2rem;
  cursor: auto;
  border-radius: 5px;
  overflow-x: scroll;
}
.coordinates label {
  display: flex;
  justify-content: space-between;
  max-width: 220px;
  padding: 0.5rem 1rem;
  margin: 0.25rem 0;
  background: linear-gradient(var(--color-coordinates), rgba(0, 0, 0, 0.6));
  color: var(--color-text-light-shower);
  border-radius: 6px;
}
.coordinates label:first-child {
  margin-top: 0;
}
.coordinates label:hover {
  background: linear-gradient(
    var(--color-coordinates-hover),
    rgba(0, 0, 0, 0.6)
  );
  color: var(--color-text-light);
}
.coordinates input {
  margin-bottom: 1rem;
}
.position {
  min-width: 3rem;
}
.fire-starter {
  grid-row-start: 4;
  border-radius: 50%;
  background: radial-gradient(var(--color-firestarter-06) 20%, transparent 60%);
}
.fire-starter::before {
  content: '\1F47E';
}
.fire-starter:hover,
.fire-starter:focus {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="50" height="60" style="font-size: 40px;"><text y="40">%E2%9A%A1</text></svg>'),
    auto;
}
.fire-starter:hover,
.fire-starter:focus {
  background: radial-gradient(var(--color-firestarter-08) 20%, transparent 60%);
}
.fire-starter.success {
  /* background: radial-gradient(
    var(--color-coordinates) 20%,
    rgba(0, 0, 0, 1) 60%
  ); */
}
.fire-starter.success:hover,
.fire-starter.success:focus {
  /* background: radial-gradient(
    rgba(34, 229, 227, 0.8) 20%,
    rgba(0, 0, 0, 1) 60%
  ); */
}
.fire-starter.error {
  background: radial-gradient(rgba(238, 9, 123, 0.8) 20%, transparent 60%);
}
.fire-starter.error:hover,
.fire-starter.error:focus {
  background: radial-gradient(rgba(238, 9, 123, 1) 20%, transparent 60%);
}
.fire-starter.active {
  background: radial-gradient(var(--color-sponge-08) 20%, transparent 60%);
}
.fire-starter.active:hover,
.fire-starter.active:focus {
  background: radial-gradient(var(--color-sponge) 20%, transparent 60%);
}
.shower {
  grid-row-start: 5;
  border-radius: 50%;
  background: radial-gradient(rgba(34, 229, 227, 0.4) 20%, transparent 60%);
}
.shower::before {
  content: '\1F6BF';
}
.shower:hover,
.shower:focus {
  background: radial-gradient(rgba(34, 229, 227, 0.5) 20%, transparent 60%);
}

.sponge {
  grid-row-start: 5;
  border-radius: 50%;
  background: radial-gradient(var(--color-sponge-08) 20%, transparent 60%);
}
.sponge::before {
  content: '🧽';
}
.sponge:hover,
.sponge:focus {
  background: radial-gradient(var(--color-sponge) 20%, transparent 60%);
}

// Svelte tutorial confetti styles
:global(body) {
  overflow: hidden;
}
.emoji {
  position: absolute;
  font-size: 5vw;
  z-index: -1;
  opacity: 0.6;
}
