html {
  background-color: var(--color-dark);
  font-family: sans-serif;
  overflow: hidden;
}

body {
  background: none;
  border: 0;
  color: var(--color-white);
  height: 100vh;
  margin: 0;
  overflow: hidden;
  position: relative;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.emoji {
  font-size: 5vw;
  opacity: 0.6;
  position: absolute;
  z-index: -1;
}
