label {
  align-items: flex-start;
  background: linear-gradient(var(--color-dark) 5%, var(--color-coordinates));
  border-radius: var(--border-radius-input);
  color: var(--color-text-light-shower);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1em;
  padding: 0.25em 0.25em 0.005em;
}

label:last-of-type {
  margin-top: 0.5em;
}

label:hover {
  background: linear-gradient(
    var(--color-dark) 10%,
    var(--color-coordinates-hover)
  );
  color: var(--color-text-light);
}

input {
  margin-bottom: 0.25em;
  margin-top: 0.5em;
  width: calc(100% - 0.5em);
}

@media (min-width: 768px) and (min-aspect-ratio: 3/5) {
  label {
    margin: 0.5em 0 0;
  }
}
