.app {
  width: 100vw;
  height: 100vh;
}
main {
  width: calc(100% - 3em);
  height: calc(
    100% - 6em + 2px
  ); // 100% - nav height = 1em font size + 2em padding + 2px border bottom (::after)
  padding: 1em 1.5em 2em 1.5em;
  overflow: hidden;
}
.grid {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 20% 80%;
}
