nav {
  border-bottom: 1px solid rgba(255, 62, 0, 0.1);
  font-weight: 300;
  padding: 0 1em;
}

ul {
  margin: 0;
  padding: 0;
}

/* clearfix */
ul::after {
  clear: both;
  content: '';
  display: block;
}

li {
  display: block;
  float: left;
}

[aria-current] {
  display: inline-block;
  position: relative;
}

[aria-current]::after {
  background-color: var(--color-text-darker-shower);
  bottom: -1px;
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  width: calc(100% - 1em);
}

a {
  color: var(--color-dark);
  display: block;
  padding: 1em 0.5em;
  text-decoration: none;
}
