:root {
  --color-black: black;
  // --color-dark: rgba(37, 26, 26, 1);
  --color-dark: black;
  --color-dark-06: rgba(37, 26, 26, 0.6);
  --color-danger: rgba(238, 9, 123, 1);
  --color-danger-08: rgba(238, 9, 123, 0.8);
  --color-text-light-danger: rgba(252, 222, 252, 1);
  --color-text-light-shower: rgba(222, 252, 252, 1);
  --color-text-light: rgba(242, 222, 252, 1);
  --color-firestarter-06: rgba(180, 150, 238, 0.6);
  --color-firestarter-08: rgba(180, 150, 238, 0.8);
  --color-coordinates-hover: rgba(200, 150, 238, 0.8);
  --color-coordinates: rgba(34, 229, 227, 0.6);
  --color-sponge: rgba(238, 204, 9, 1);
  --color-sponge-08: rgba(238, 204, 9, 0.8);

  --screen-md: 768px;
  --screen-lg: 1280px;

  --coord-input-width: 240px;
}
